body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

b {
  color: #00B7FF;
 
}


.ticketAttr{
  background-color: rgb(255, 127, 168);
  width: 120px;
  }
  

  .btn-primary{
  margin: 10px;

  }
